
.fondo-body {
  background: #E04F4F;
  width: 100%;
  height: 100%;
}

.encabezado{
  background-color: #000;
  margin: 0 4%;
}

.menu{
  margin: 0 4% 2% 4%;
}

.navegacion{
  background-color: #DDD;
  margin: 0;
}

.navegacion a{
  color: black;
  font-size: 1.2em;
}

.navegacion li{
  width: 16.66%;
}

.navegacion ul{
  width: 100%;
}

.logo-img{
  width: 30%;
  margin: 3% 2% 2% 5%;
}

.redes-sociales{
  margin: 10% 5% 2% 2%;
}

.img-social{
  width: 4%;
}

.fondo-contenido{
  background-color: #DDD;
  color: black;
  margin: 0 4%;
  border-radius: 5px !important;
}

.img-contenido{
  width: 90%;
  margin: 0 2%;
  padding: 0;
}

.secciones-contenido{
  margin: 20px 0 ;
}

.text-contenido{
  font-size: 1.1em;
}

.list-buscar{
  color: black;
}

@media (max-width: 770px) {
  /* Clase para ocultar componentes HTML */
  .right-column {
    display: none;
  }

  .navegacion li{
    width: 100%;
  }

  .column-contenido{
    width: 100%;
  }
}

@media (min-width: 770px) and (max-width: 1000px)  {
  /* Clase para ocultar componentes HTML */

  .navegacion li{
    width: 100%;
  }

  .column-contenido{
    width: 100%;
  }
}
