body{
  background: url("../img/fondoRestaurante.jpg") no-repeat;;
  background-size: 100% 100%;
  background-attachment: fixed;

}

.fondo-contenido{
  background-color: yellow;
  opacity: 0.9;
}

.img-public{
  width: 100%;
}
